/* Declaring root for CSS variables */
:root {
	--highlight: #b3b2eb;
	--transition: 0.2s;
	--default-color: #222;
}

a:hover {
	text-decoration: none;
	color: var(--default-color);
}

.underline {
	color: var(--default-color);
    display: inline-block;
    line-height: 0.6em;
    position: relative;
    border-bottom: 4px solid var(--highlight);
    padding-bottom: 0px;
    text-decoration: none;

    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.underline.twitter {
	border-bottom: 4px solid rgba(29,161,242,0.6);
}

.underline.dribbble {
	border-bottom: 4px solid rgba(234,76,137,0.6);
}

.underline.medium {
	border-bottom: 4px solid rgba(2,184,117,0.6);
}

/* On hover, fill text with color */
.underline:hover {
	background-color: var(--highlight);
	padding-top: 4px;

	-webkit-transition: var(--transition);
    transition: var(--transition);
}

.underline.twitter:hover {
	background-color: rgba(29, 161, 242, 0.8);
	padding-top: 4px;

	-webkit-transition: var(--transition);
    transition: var(--transition);
}

.underline.dribbble:hover {
	background-color: rgba(234,76,137, 0.8);
	padding-top: 4px;

	-webkit-transition: var(--transition);
    transition: var(--transition);
}

.underline.medium:hover {
	background-color: rgba(2,184,117,0.8);
	padding-top: 4px;

	-webkit-transition: var(--transition);
    transition: var(--transition);
}

.header {
	margin-top: 16%;
}

@media (min-width: 400px) {
	.header {
		margin-top: 12%;
	}
}
@media (min-width: 550px) {
	.header {
		margin-top: 8%;
	}
	.row {
		width: 100%;
	}
}
/* Larger than tablet */
@media (min-width: 750px) {
	.header {
		margin-top: 8%;
	}
	.row {
		width: 85%;
	}
}
/* Larger than desktop */
@media (min-width: 1000px) {
	.header {
		margin-top: 8%;
	}
	.row {
		width: 60%;
	}
}
/* Larger than a large desktop */
@media (min-width: 1280px) {
	.header {
		margin-top: 8%;
	}
	.row {
		width: 50%;
	}
}